@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Roulette.Data

@inject SignInManager<IdentityUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Length == 0)
{
    <div>
        <p>
            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
            about setting up this ASP.NET application to support logging in via external services</a>.
        </p>
    </div>
}
else
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryTokenInput/>
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in externalLogins)
                {
                    <button type="submit" name="provider" value="@provider.Name" class="round-button" title="Войти используя аккаунт @provider.DisplayName">

                        @if (provider.Name == "Yandex")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0,0,256,256">
                                <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M19.663,4h-3.493c-3.432,0 -6.17,2.72 -6.17,8c0,3.168 1.237,5.504 3.749,6.656l-4.688,8.832c-0.153,0.289 0,0.512 0.245,0.512h2.175c0.184,0 0.307,-0.064 0.368,-0.223l4.401,-8.777h1.25l-0.008,8.777c0,0.096 0.092,0.223 0.214,0.223h2.049c0.184,0 0.245,-0.096 0.245,-0.255v-23.425c0,-0.224 -0.123,-0.32 -0.337,-0.32zM17.5,17h-1.5c-1.5,0 -3.5,-1.16 -3.5,-5c0,-4.001 1.631,-6 3.5,-6h1.5z"></path></g></g>
                            </svg>

                        }
                        @* @provider.DisplayName *@
                    </button>
                }
            </p>
        </div>
    </form>
}
<style>
    .round-button {
        border: none; 
        border-radius: 50%; 
        background-color: red; 
        padding: 0; 
        width: 32px; 
        height: 32px; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        cursor: pointer; 
    }

        .round-button svg {
            width: 32px; 
            height: 32px; 
        }
</style>
@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }
}
