@page "/"

<PageTitle>Медиа-рандом | Ваш билет в мир случайного контента</PageTitle>

<div class="welcome-header">
    <h1 class="welcome-text">Добро пожаловать на <span class="highlight">Медиа-рандом</span>!</h1>
</div>

<p class="welcome-text">
    <span class="highlight">Медиа-рандом</span> – это ваш идеальный помощник для открытия новых мультимедийных развлечений! Наша платформа предлагает уникальный инструмент для случайного выбора контента, включая фильмы, сериалы, аниме, мангу и ранобе.
</p>

<p class="welcome-text">
    Устали от постоянного поиска того, что посмотреть или послушать? Желаете разнообразить свой досуг? <span class="highlight">Медиа-рандом</span> поможет вам быстро и легко найти интересные мультимедиа, учитывая ваши предпочтения.
</p>

<p class="welcome-text">
    <strong>Как это работает:</strong><br />
    1. Выберите интересующие вас категории и жанры.<br />
    2. Настройте фильтры по рейтингу, длительности и другим параметрам.<br />
    3. Нажмите кнопку <a class="cta-button">"Roll!"</a> и получите рекомендации, соответствующие вашему настроению и предпочтениям.<br />
</p>

<p class="welcome-text">
    Мы предлагаем:
</p>
<ul class="info-list">
    <li>Широкий выбор по жанрам и рейтингам.</li>
    <li>Рекомендации по играм, аниме, манге и ранобе.</li>
    <li>Интерактивные фильтры для точного выбора контента.</li>
    <li><span class="highlight">История победивших вариантов:</span> После регистрации у вас будет доступ к истории всех ваших победивших вариантов, чтобы вы могли легко их найти снова.</li>
</ul>

<p class="welcome-text">
    Присоединяйтесь к нам и начните свое путешествие в мир мультимедиа уже сегодня! Если у вас возникнут вопросы или предложения, не стесняйтесь обращаться к нам через сервис <span class="highlight">"Сообщить об ошибке"</span>. Мы обязательно всё прочитаем!
</p>

<p class="welcome-text">
    <em>Спасибо, что выбрали <span class="highlight">Медиа-рандом</span>. Мы стремимся сделать ваш досуг более ярким и интересным!</em>
</p>


@code {
  
}

<style>

</style>