@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world! Hello, Sanua</h1>



<Counter IncrementAmount="10" />

<Rate AllowHalf="true" DefaultValue="3.5M" />
<MinimalScoreComponent />
<SelectKindComponent />
<MangaSelectKindComponent />
