html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.page {
    width: 100%;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.date-container {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.ant-divider-horizontal{
    margin: 12px;
}


.media-item {
    /*background-color: #e6f7ff;*/
    border: 2px solid #5e57adb0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

    .media-item img {
        width: 500px;
        height: auto;
    }

h4 {
    margin: 0px;
}

.line-container {
    /*  margin-bottom: 4px;  */
}

.key {
    font-weight: bold;
    margin-right: 1px;
    color: #3193e1;
    display: inline;
}

.value {
    color: #123;
    display: inline;
}

.btn-primary {
    display: inline-block;
    padding: 5px 10px;
    margin: 1px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #3193e1;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

    .btn-primary:hover {
        background-color: #8aafef;
        border-color: #0056b3;
    }

.description {
    margin: 1px;
}

.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e6f7ff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

    .history-item:hover {
        background-color: #8aafef;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.history-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    flex: 1;
}

.history-date {
    font-size: 0.9em;
    color: #666;
    flex-shrink: 0;
}

h3 {
    color: #333;
}

.pagination {
    margin-top: 15px;
}

.item {
    display: grid;
    place-items: center;
    height: 100%;
}

main {
    background-color: #d7e0ff38;
}

#topRow {
    background: linear-gradient(to right, black, #394187);
}

@media (max-width: 640.98px) {
    #topRow {
        display: none;
    }
}

#winnerId {
    visibility: hidden;
}

#rouletteCanvas {
    cursor: pointer;
}

.bi-bug {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    font-size: 24px;
}

.error-widget {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #394187f5;
    color: #fdf9f9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 9px;
    line-height: 1.2;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    font-weight: bold;
    gap: 16px;
}

    .error-widget span {
        display: block;
        white-space: pre-line;
    }

.error-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
}

.error-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 600px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.textarea {
    min-height: 150px;
    height: 280px;
}

.form-buttons {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    margin-top: 10px;
}

.close-button {
    position: absolute;
    top: -9px;
    right: -6px;
    background: #000;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .close-button:hover {
        color: #f5c6cb;
    }



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
}

.modal-content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

    .modal-content h4 {
        margin-top: 0;
    }

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

    .close:hover {
        color: #ff0000;
    }

#statusFilter {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .table th,
    .table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

    .table th {
        background-color: #f8f9fa;
        text-align: left;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

.welcome-header {
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.welcome-text {
    color: #000000;
}

.highlight {
    color: #394187;
    font-weight: bold;
}

.info-list {
    color: #000000;
    margin-left: 20px;
}

    .info-list li {
        margin-bottom: 10px;
    }

.cta-button {
    background-color: #130d81;
    color: #ffffff;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

    .cta-button:hover {
        background-color: #1e90ff;
    }