<div class="item">
    <Button OnClick="HandleClick" Disabled="@_isButtonDisabled">
        @_buttonText
    </Button>
</div>

@code {
    private bool _isButtonDisabled = false;
    private string _buttonText = "Roll!";

    [Parameter]
    public EventCallback OnRoll { get; set; }
    [Parameter]
    public bool ShouldDelay { get; set; } = true;

    private async Task HandleClick()
    {
        _isButtonDisabled = true;
        _buttonText = "Rolling...";

        if (OnRoll.HasDelegate)
        {
            await OnRoll.InvokeAsync(null);
        }

        if (ShouldDelay)
        {
            await Task.Delay(3000);
        }

        _isButtonDisabled = false;
        _buttonText = "Roll!";
    }

}