<div>
    <canvas id='rouletteCanvas' width='350' height='350'
            data-responsiveMinWidth="180"
            data-responsiveScaleHeight="true"
            data-responsiveMargin="50">
    </canvas>
</div>

You clicked: <span id="clickedWhat"></span>
