@inject IJSRuntime JSRuntime
<div class="canvas-container" style="display: @(showCanvas ? "block" : "none")">
    <canvas id='rouletteCanvas' width='600' height='600' @* data-responsiveminwidth="300" data-responsivescaleheight="true" data-responsivemargin="30" *@></canvas>
</div>


<span id="winnerId"></span>

@code
{
    [Parameter]
    public bool showCanvas { get; set; }
    
    [Parameter]
    public EventCallback<bool> showCanvasChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
             await JSRuntime.InvokeVoidAsync("resizeCanvas");
        }
    }
}
<script>
    // window.addEventListener('resize', resizeCanvas);
</script>

