<div class="canvas-container">
    <canvas id='rouletteCanvas' width='350' height='350'
            data-responsiveMinWidth="180"
            data-responsiveScaleHeight="true"
            data-responsiveMargin="50">
    </canvas>
</div>


 <span id="winnerId"></span>
<style>
 /*  #rouletteCanvas{

        width: 100%;
        height: 100%;
        display: block;
  } */

   
    #winnerId {
        visibility: hidden;
    }

    #rouletteCanvas {
        cursor: pointer;
    }

</style>