@inject IJSRuntime JSRuntime
<div class="canvas-container" style="display: @(ShowCanvas ? "block" : "none")">
    <canvas id="rouletteCanvas" width="600" height="600"></canvas>
</div>


<span id="winnerId"></span>

@code
{
    /// <summary>
    /// Отвечает за скрытие колеса до ролла
    /// </summary>
    [Parameter]
    public bool ShowCanvas { get; set; }

    /// <summary>
    /// Колбэк для скрытия
    /// </summary>
    [Parameter]
    public EventCallback<bool> ShowCanvasChanged { get; set; }

    /// <summary>
    /// Адаптирует размеры будущего колеса под экран
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("resizeCanvas");
        }
    }
}

<script>
        // window.addEventListener('resize', resizeCanvas);
</script>