<Title Level="4">Временной период:</Title>

<Cascader Placeholder="От" @bind-Value="selectedFromYear" Options="@options" OnChange="HandleFromYearChange"></Cascader>
<Divider Type="DirectionVHType.Vertical" />
<Cascader Placeholder="До" @bind-Value="selectedToYear" Options="@filteredOptions" OnChange="HandleToYearChange" Disabled="!isSecondCascaderEnabled"></Cascader>

@code {
    [Parameter]
    public string selectedFromYear { get; set; }
    [Parameter]
    public EventCallback<string> selectedFromYearChanged { get; set; }
    [Parameter]
    public string selectedToYear { get; set; }
    [Parameter]
    public EventCallback<string> selectedToYearChanged { get; set; }

    private bool isSecondCascaderEnabled = false;
    private List<CascaderNode> options = new()
    {
        CreateDecadeNode("197x", 1970),
        CreateDecadeNode("198x", 1980),
        CreateDecadeNode("199x", 1990),
        CreateDecadeNode("200x", 2000),
        CreateDecadeNode("201x", 2010),
        CreateDecadeNode("202x", 2020)
    };
    private List<CascaderNode> filteredOptions = new();

    private static CascaderNode CreateDecadeNode(string label, int startYear)
    {
        int currentYear = DateTime.Now.Year;
        var children = Enumerable.Range(startYear, 10)
            .Where( year=>year < currentYear+1)
            .Select(year => new CascaderNode
                {
                    Value = year.ToString(),
                    Label = year.ToString()
                })
            .ToArray();

        return new CascaderNode
            {
                Value = label,
                Label = label,
                Children = children
            };
    }

    private async void HandleFromYearChange(List<CascaderNode> selectedNodes, string selectedValue, string selectedLabel)
    {
        selectedFromYear = selectedValue;
        await selectedFromYearChanged.InvokeAsync(selectedValue);
        if (int.TryParse(selectedFromYear, out int fromYear))
        {
            FilterOptions(fromYear);
            isSecondCascaderEnabled = true;
        }
        else
        {
            isSecondCascaderEnabled = false;
        }
    }
    private async void HandleToYearChange(List<CascaderNode> selectedNodes, string selectedValue, string selectedLabel)
    {
        selectedToYear = selectedValue;
        await selectedToYearChanged.InvokeAsync(selectedValue);
    }

    private void FilterOptions(int fromYear)
    {
        int currentYear = DateTime.Now.Year;
    
        filteredOptions = options.Select(decadeNode =>
        {
            var filteredChildren = decadeNode.Children
                .Where(child => int.Parse(child.Value) > fromYear && int.Parse(child.Value) <= currentYear)
                .ToArray();
        
            return new CascaderNode
            {
                Value = decadeNode.Value,
                Label = decadeNode.Label,
                Children = filteredChildren.Length > 0 ? filteredChildren : null,
                Disabled = filteredChildren.Length == 0
            };
        }).Where(node => node.Children != null).ToList();
    }
}