@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main style="">
        <div id="topRow" class="top-row px-4 -bs-body-color: #212529;" style="">

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    main {
        background-color: #d7e0ff38;
    }
    #topRow{
        background: linear-gradient(to right, black, #394187);
    }
@@media (max-width: 640.98px) {
        #topRow {
        display: none;
    }
}
</style>