@page "/animelist"
@using Roulette.Models
@using ShikimoriSharp.Classes

<h3>Список аниме</h3>
@if (Animes.Count == 0)
{
    <p>Нет данных для отображения.</p>
}
else
{
    <div class="anime-list">
        @foreach (var anime in Animes)
        {
            <AnimeItemComponent Anime="anime" />
        }
    </div>
}

@code {
    [Parameter]
    public List<Anime> Animes { get; set; }

    protected override void OnInitialized()
    {
        if (Animes == null)
        {
            Animes = new List<Anime>();
        }
    }
}



