@page "/anime"
@using ShikimoriSharp.Bases
@using Roulette.Services
@inherits ShikimoriComponent
@inject ApiClientService ApiClientService

<PageTitle>Anime</PageTitle>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
        <Genres SelectedGenresChanged="OnSelectedGenresChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <MinimalScoreComponent  @bind-SelectedScore="SelectedScore"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <RatingComponent @bind-SelectedValue="_selectedRating"/>
    </Col>
</Row>
<Divider Orientation="left"></Divider>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
        <DurationComponent @bind-SelectedValue="_selectedDuration"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <Studios SelectedStudiosChanged="OnSelectedStudiosChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <SelectKindComponent @bind-SelectedValue="_selectedKind"/>
    </Col>
</Row>
<Divider Orientation="left"></Divider>
<div class="date-container">
    <div class="item">
        <YearSelectionComponent @bind-selectedFromYear="SelectedFromYear" @bind-selectedToYear="SelectedToYear"/>
    </div>
    <div class="item">
        <Button OnClick="SendSelected">Roll!</Button>
    </div>
</div>
<Divider Orientation="left"></Divider>
<Row Gutter="8" Justify="space-between">
    <Col Xs="24" Sm="6" Md="4" Span="4">
        <WheelComponent/>
    </Col>
    <Col Xs="24" Sm="12" Md="12">
        <MediaList MediaItems="_animes"/>
    </Col>
</Row>


@code {
    private string? _selectedRating;
    private string? _selectedKind;
    private string? _selectedDuration;
    private List<string> _selectedStudios = new();
    private List<SmallRepresentation>? _animes;

    private void OnSelectedStudiosChanged(List<string> selectedStudios)
    {
        _selectedStudios = selectedStudios;
    }

    private async Task SendSelected()
    {
        var studios = string.Join(",", _selectedStudios);
        var aniUrl =
            $"rating={_selectedRating}&" +
            $"kind={_selectedKind}&" +
            $"studio={studios}&" +
            $"duration={_selectedDuration}&";

        _animes = await GetMediaItemsAsync($"anime/animes?{aniUrl}", async id =>
        {
            var url = $"anime/animes/{id}";
            return await ApiClientService.GetAnimeByIdAsync(url);
            
        });
    }

}