@page "/manga"
@using ShikimoriSharp.Bases
@using Roulette.Services
@using Roulette.Models
@inherits ShikimoriComponent
@inject ApiClientService ApiClientService


<PageTitle>Manga</PageTitle>
<div class="page-title-mobile">
    <h1>Манга</h1>
</div>
<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
        <Genres IsAnime="false" SelectedGenresChanged="OnSelectedGenresChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <MinimalScoreComponent @bind-SelectedScore="SelectedScore"/>
    </Col>

</Row>
<Divider Orientation="left"></Divider>

<Row Gutter="16">

    <Col Xs="24" Sm="12" Md="8">
        <Publishers SelectedPublishersChanged="OnSelectedPublishersChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <SelectKindComponent IsAnime="false" @bind-SelectedValue="_selectedKind"/>
    </Col>
</Row>
<Divider Orientation="left"></Divider>
<Col Xs="24" Sm="12" Md="8">
    <div style="display: flex; align-items: center;">
        <span>Дата выхода:</span>
        <AntDesign.InputNumber Style="border: none; background-color: transparent; width: 60px; margin-left: 1px; margin-right: -10px;"
                               @bind-Value="@dateFrom"
                               Disabled="true"
                               TValue="double"
                               Bordered="false"
                               Size="small" />
        <Slider TValue="(double, double)"
                Min="1950"
                Max="2024"
                DefaultValue="defaultDate"
                Style="flex-grow: 1; margin-left: 0; margin-right: 0;"
                OnChange="HandleDateSliderChange" />
        <AntDesign.InputNumber Style="border: none; background-color: transparent; width: 60px; margin-left: 5px;"
                               @bind-Value="@dateTo"
                               Disabled="true"
                               TValue="double"
                               Bordered="false"
                               Size="small" />
    </div>
</Col>
<div class="item">
    <RollButtonComponent OnRoll="SendSelected" />
</div>
<Divider Orientation="left"></Divider>
<Row Gutter="8" Justify="space-between">
    <Col Xs="24" Sm="6" Md="4" Span="4">
    <WheelComponent @bind-showCanvas="_showCanvas" />
    </Col>
    <Col Xs="24" Sm="12" Md="12">
    <MediaList MediaItems="_mangas" IsWinner="true" MediaType="MediaType.Manga" />
    </Col>
</Row>


@code {
    private string? _selectedKind;
    private List<string> _selectedPublishers = new();
    private List<SmallRepresentation>? _mangas;

    private void OnSelectedPublishersChanged(List<string> selectedPublishers)
    {
        _selectedPublishers = selectedPublishers;
    }

    protected override async Task SendSelected()
    {
        _showCanvas = true;
        var publishers = string.Join(",", _selectedPublishers);
        var mangaUrl =
            $"publisher={publishers}&" +
            $"kind={_selectedKind}&";
        _mangas = await GetMediaItemsAsync($"manga/mangas?{mangaUrl}", async id =>
        {
            var url = $"manga/mangas/{id}";
            return await ApiClientService.GetMangaByIdAsync(url);
        });
    }

}