@page "/ranobe"
@using ShikimoriSharp.Bases
@using Roulette.Services
@using Roulette.Models
@inherits ShikimoriComponent
@inject ApiClientService ApiClientService


<PageTitle>Ranobe</PageTitle>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
        <Genres IsAnime="false" SelectedGenresChanged="OnSelectedGenresChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <MinimalScoreComponent @bind-SelectedScore="SelectedScore"/>
    </Col>

</Row>
<Divider Orientation="left"></Divider>
<Col Xs="24" Sm="12" Md="8">
    <div style="display: flex; align-items: center;">
        <span>Дата выхода:</span>
        <AntDesign.InputNumber Style="border: none; background-color: transparent; width: 60px; margin-left: 1px; margin-right: -10px;"
                               @bind-Value="@dateFrom"
                               Disabled="true"
                               TValue="double"
                               Bordered="false"
                               Size="small" />
        <Slider TValue="(double, double)"
                Min="1950"
                Max="2024"
                DefaultValue="defaultDate"
                Style="flex-grow: 1; margin-left: 0; margin-right: 0;"
                OnChange="HandleDateSliderChange" />
        <AntDesign.InputNumber Style="border: none; background-color: transparent; width: 60px; margin-left: 5px;"
                               @bind-Value="@dateTo"
                               Disabled="true"
                               TValue="double"
                               Bordered="false"
                               Size="small" />
    </div>
</Col>
<div class="item">
    <RollButtonComponent OnRoll="SendSelected" />
</div>
<Divider Orientation="left"></Divider>

<Row Gutter="8" Justify="space-between">
    <Col Xs="24" Sm="6" Md="4" Span="4">
    <WheelComponent @bind-showCanvas="_showCanvas" />
    </Col>
    <Col Xs="24" Sm="12" Md="12">
    <MediaList MediaItems="_ranobes" IsWinner="true" MediaType="MediaType.Ranobe" />
    </Col>
</Row>

@code {
    private List<SmallRepresentation>? _ranobes;

    protected override async Task SendSelected()
    {
        _showCanvas = true;
        _ranobes = await GetMediaItemsAsync("ranobe/ranobes?", async id =>
        {
            var url = $"ranobe/ranobes/{id}?";
            return await ApiClientService.GetRanobeByIdAsync(url);
        });
    }

}