@page "/ranobe"
@using ShikimoriSharp.Bases
@using Roulette.Services
@using Roulette.Models
@inherits ShikimoriComponent
@inject ApiClientService ApiClientService


<PageTitle>Ranobe</PageTitle>

<Row Gutter="16">
    <Col Xs="24" Sm="12" Md="8">
        <Genres IsAnime="false" SelectedGenresChanged="OnSelectedGenresChanged"/>
    </Col>
    <Col Xs="24" Sm="12" Md="8">
        <MinimalScoreComponent @bind-SelectedScore="SelectedScore"/>
    </Col>

</Row>
<Divider Orientation="left"></Divider>
<div class="date-container">
    <div class="item">
        <YearSelectionComponent @bind-selectedFromYear="SelectedFromYear" @bind-selectedToYear="SelectedToYear"/>
    </div>
    <div class="item">
        <Button OnClick="SendSelected">Roll!</Button>
    </div>
</div>
<Divider Orientation="left"></Divider>

<Row Gutter="8" Justify="space-between">
    <Col Xs="24" Sm="6" Md="4" Span="4">
        <WheelComponent/>
    </Col>
    <Col Xs="24" Sm="12" Md="12">
    <MediaList MediaItems="_ranobes" IsWinner="true" MediaType="MediaType.Ranobe" />
    </Col>
</Row>

@code {
    private List<SmallRepresentation>? _ranobes;

    private async Task SendSelected()
    {
        _ranobes = await GetMediaItemsAsync("ranobe/ranobes?", async id =>
        {
            var url = $"ranobe/ranobes/{id}?";
            return await ApiClientService.GetRanobeByIdAsync(url);
        });
    }

}