@page "/Account/Register"

@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.Services
@using Microsoft.AspNetCore.WebUtilities
@using Roulette.Data
@using Roulette.Services

@inject UserManager<IdentityUser> UserManager
@inject IUserStore<IdentityUser> UserStore
@inject SignInManager<IdentityUser> SignInManager
@inject IEmailSender EmailSender
@inject ILogger<Register> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Регистрация</PageTitle>

<h1>Регистрация</h1>

<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@registerResult" />
        <EditForm Model="Input" asp-route-returnUrl="@ReturnUrl" method="post" OnValidSubmit="RegisterUser" FormName="register">
            <AntiforgeryTokenInput />
            <DataAnnotationsValidator/>
            <h2>Создать новый аккаунт.</h2>
            <hr/>
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                <label for="email">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger"/>
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label for="password">Пароль</label>
                <ValidationMessage For="() => Input.Password" class="text-danger"/>
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password"/>
                <label for="confirm-password">Повторите пароль</label>
                <ValidationMessage For="() => Input.ConfirmPassword" class="text-danger"/>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Зарегистрироваться</button>
        </EditForm>
        <section class="center-container">
            <ExternalLoginPicker />
        </section>
    </div>

</div>
<style>
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top:20px;
    }
</style>
@code {
    private IEnumerable<IdentityError>? identityErrors;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }
    private string registerResult;
    private string? Message => identityErrors is null ? null : $"Error: {string.Join(", ", identityErrors.Select(error => error.Description))}";
    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            if (authState.User.Identity?.IsAuthenticated == true)
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }

    public async Task RegisterUser(EditContext editContext)
    {
        Logger.LogInformation("Начало процесса регистрации пользователя.");
        IdentityUser user;
        try
        {
            user = CreateUser();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при создании пользователя.");
            registerResult = "Ошибка при создании пользователя.";
            return;
        }

        try
        {
            await UserStore.SetUserNameAsync(user, Input.Email, CancellationToken.None);
            Logger.LogInformation("Имя пользователя установлено: {Email}", Input.Email);

            var emailStore = GetEmailStore();
            await emailStore.SetEmailAsync(user, Input.Email, CancellationToken.None);
            Logger.LogInformation("Email пользователя установлен: {Email}", Input.Email);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при установке имени пользователя или email.");
            registerResult = "Ошибка при установке имени пользователя или email.";
            return;
        }

        var result = await UserManager.CreateAsync(user, Input.Password);
        if (!result.Succeeded)
        {
            registerResult = string.Join(", ", result.Errors.Select(e => e.Description));
            Logger.LogError("Ошибка при создании пользователя: {Errors}", registerResult);
            return;
        }

        Logger.LogInformation("Пользователь успешно создан: {Email}", Input.Email);
        await UserManager.AddToRoleAsync(user, "common_user");
        Logger.LogInformation("Пользователю назначена роль 'common_user'.");

        try
        {
            Logger.LogInformation("Попытка отправки email с подтверждением.");

            var userId = await UserManager.GetUserIdAsync(user);
            var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));

            var callbackUrl = RedirectManager.GetUriWithQueryParameters(
                "Account/ConfirmEmail",
                new Dictionary<string, object?>
                {
                    ["userId"] = userId,
                    ["code"] = code,
                    ["returnUrl"] = ReturnUrl
                });

            _ = EmailSender.SendEmailAsync(
                Input.Email,
                "Подтвердите регистрацию на media-random.ru",
                $@"
            <html>
            <body>
                <p>Приветствуем вас на media-random.ru!</p>
                <p>Теперь у вас есть профиль на нашем сайте. Чтобы активировать его, подтвердите ваш e-mail.</p>
                <p><a href='{HtmlEncoder.Default.Encode(callbackUrl)}'>Подтвердить</a></p>
                <p style='font-size: smaller;'>Если честно - подтверждение ни на что не влияет(сможете почту менять, да пароль. Будто кто-то зарегистрируется. Ха-ха)</p>
                <p style='font-size: smaller;'>Если вы не регистрировались и получили это письмо случайно, проигнорируйте его.</p>
            </body>
            </html>"
                );

            Logger.LogInformation("Email с подтверждением отправлен в фоне: {Email}", Input.Email);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при отправке email подтверждения для {Email}", Input.Email);
        }

        await SignInManager.SignInAsync(user, false);
        Logger.LogInformation("Пользователь автоматически вошел в систему: {Email}", Input.Email);

        Logger.LogInformation("Редирект на главную страницу после регистрации.");
        NavigationManager.NavigateTo("/");
    }

    private IdentityUser CreateUser()
    {
        try
        {
            return Activator.CreateInstance<IdentityUser>();
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Ошибка при создании экземпляра пользователя.");
            throw new InvalidOperationException($"Не удалось создать экземпляр '{nameof(IdentityUser)}'. Убедитесь, что '{nameof(IdentityUser)}' не является абстрактным классом и имеет конструктор без параметров.");
        }
    }

    private IUserEmailStore<IdentityUser> GetEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("Интерфейс требует поддержки email.");
        }
        return (IUserEmailStore<IdentityUser>)UserStore;
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Email обязателен.")]
        [CustomEmail]
        [Display(Name = "Email")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Пароль обязателен.")]
        [DataType(DataType.Password)]
        [Display(Name = "Password")]
        public string Password { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirm password")]
        [Compare("Password", ErrorMessage = "Пароли не совпадают.")]
        public string ConfirmPassword { get; set; } = "";
    }
}
