@page "/Account/ResetPasswordConfirmation"
<PageTitle>Уведомление о смене пароля</PageTitle>

<h1>Ваш пароль был изменен</h1>
<p>
     Пожалуйста <a href="Account/Login">нажмите здесь для входа</a>.
</p>
