@using Roulette.Models
@using Roulette.Services
@inject BugReportService BugReportService
@inject IMessageService Message

@if (_isVisible)
{
    <div class="error-widget" @onclick="ToggleForm">
        <button class="close-button" @onclick="CloseWidget" @onclick:stopPropagation aria-label="Закрыть">
            &times;
        </button>
        <span >Сообщить<br/>об ошибке</span>
    </div>
}
@if (_showForm)
{
    <div class="error-form-overlay" @onclick="CloseForm">
        <div class="error-form" @onclick:stopPropagation>
            <h3>Сообщите об ошибке</h3>

            <EditForm Model="_bugReport" OnValidSubmit="SubmitForm">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <AntiforgeryTokenInput/>
                <div class="form-group">
                    <label>Тема</label>
                    <InputText @bind-Value="_bugReport.Title" maxlength="100" class="form-control"/>
                </div>
                <div class="form-group">
                    <label>Описание ошибки</label>
                    <InputTextArea @bind-Value="_bugReport.Description" maxlength="10000" class="form-control textarea"/>
                </div>
                <div class="form-group">
                    <label>Ваш email (необязательно)</label>
                    <InputText @bind-Value="_bugReport.UserEmail" class="form-control"/>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseForm">Отмена</button>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    private bool _showForm = false;
    private BugReport _bugReport = new();
    private bool _isVisible = true;

    private void CloseWidget()
    {
        _isVisible = false;
    }

    private void ToggleForm()
    {
        _showForm = !_showForm;
    }

    private void CloseForm()
    {
        _showForm = false;
    }

    private async Task SubmitForm()
    {
        try
        {
            await BugReportService.CreateBugReportAsync(_bugReport);
            _showForm = false;
            _bugReport = new BugReport();
            await Success();
        }
        catch (Exception ex)
        {
            await Message.Error("Произошла ошибка при отправке отчета об ошибке. Попробуйте снова.");
        }
    }

    private async Task Success()
    {
        await Message.Success("Сообщение об ошибке успешно отправлено", 1);
    }

}