@inject IJSRuntime JS
<div style="display: flex; align-items: center;">
    <AntDesign.Tooltip Title="@Title" Placement="@_tooltipPlacement">
        <i class="bi bi-info-circle" style="margin-right: 10px;"></i>
    </AntDesign.Tooltip>
    <span>@Label:</span>
    <AntDesign.InputNumber Style="@InputStyle"
                           @bind-Value="MinValue"
                           Disabled="true"
                           TValue="double"
                           Bordered="false"
                           Size="small"/>
    <Slider TValue="(double, double)"
            Min="Min"
            Max="Max"
            DefaultValue="(MinValue, MaxValue)"
            Style="flex-grow: 1; margin-left: 0; margin-right: 0;"
            OnChange="OnChangeHandler"/>
    <AntDesign.InputNumber Style="border: none; background-color: transparent; width: 60px; margin-left: 5px;"
                           @bind-Value="MaxValue"
                           Disabled="true"
                           TValue="double"
                           Bordered="false"
                           Size="small"/>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public double Min { get; set; }

    [Parameter]
    public double Max { get; set; }

    [Parameter]
    public string Width { get; set; } = "30px";

    [Parameter]
    public double MinValue { get; set; }

    [Parameter]
    public double MaxValue { get; set; }

    [Parameter]
    public EventCallback<(double, double)> OnChange { get; set; }

    private string InputStyle => $"border: none; background-color: transparent; width: {Width}; margin-left: 1px; margin-right: -1px;";
    private Placement _tooltipPlacement = Placement.BottomLeft;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var placement = await JS.InvokeAsync<string>("getTooltipPlacement");
            _tooltipPlacement = placement == "right" ? Placement.Right : Placement.BottomLeft;
            StateHasChanged();
        }
    }

    private async Task OnChangeHandler((double, double) value)
    {
        await OnChange.InvokeAsync(value);
    }

}