name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Roulette/Dockerfile -t lanctole/roulette:${{ github.sha }} .

      - name: Push Docker image to Docker Hub
        run: docker push lanctole/roulette:${{ github.sha }}

      - name: Trigger deploy workflow
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: 'deploy.yml'
          token: ${{ secrets.GITHUB_TOKEN }}
          ref: master
          inputs: |
            docker_version: ${{ github.sha }}
