name: Docker Build and Deploy

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Roulette/Dockerfile -t lanctole/roulette:${{ github.sha }} .

      - name: Push Docker image to Docker Hub
        run: docker push lanctole/roulette:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to server using SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cat /tmp/app_secrets.json | jq -r 'to_entries[] | "\(.key)=\(.value | @json)"' > /tmp/.env
            
            docker pull lanctole/roulette:${{ github.sha }}
            
            docker stop roulette_app || true
            docker rm roulette_app || true
            
            docker run -d --name roulette_app \
                -p 5000:8080 \
                $(cat /tmp/.env | sed 's/^/-e /') \
                lanctole/roulette:${{ github.sha }}
