name: Docker Build and Deploy

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Roulette/Dockerfile -t lanctole/roulette:${{ github.sha }} .

      - name: Push Docker image to Docker Hub
        run: docker push lanctole/roulette:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to server using SSH
        env:
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_USER: ${{ secrets.SERVER_USER }}
          SERVER_PASSWORD: ${{ secrets.SERVER_PASSWORD }}
          APP_SECRETS: ${{ secrets.APP_SECRETS }}
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          app_secrets: ${{ secrets.APP_SECRETS }}
          script: |
            echo "$app_secrets"
            echo "$app_secrets" > /tmp/app_secrets.json
            if [ ! -f /tmp/app_secrets.json ]; then
              echo ".env file not found"
              exit 1
            fi
            echo "Contents of /tmp/app_secrets.json:"
            cat /tmp/app_secrets.json
            cat /tmp/app_secrets.json | jq -r 'to_entries[] | "\(.key)=\(.value)"' > /tmp/.env
            if [ ! -f /tmp/.env ]; then
             echo ".env file not found"
             exit 1
            fi

            echo "Contents of /tmp/.env:"
            cat /tmp/.env
            
            docker pull lanctole/roulette:${{ github.sha }}
            
            docker stop roulette_app || true
            docker rm roulette_app || true
            
            docker run -d --name roulette_app \
              -p 5000:8080 \
              $(cat /tmp/.env | xargs -I {} echo -e "-e {}") \
              lanctole/roulette:${{ github.sha }}
