name: Docker Build and Deploy

on:
  workflow_dispatch:
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -f Roulette/Dockerfile -t lanctole/roulette:${{ github.sha }} .

      - name: Push Docker image to Docker Hub
        run: docker push lanctole/roulette:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to server using SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            echo "Pulling Docker image..."
            docker pull lanctole/roulette:${{ github.sha }}
            
            echo "Stopping and removing existing container..."
            if docker ps -q -f name=roulette_app; then
                docker stop roulette_app
                docker rm roulette_app
            else
                echo "No container named 'roulette_app' exists."
            fi
            
            echo "Running Docker container..."
            docker run -d --name roulette_app \
                -p 5000:8080 \
                -e CONNECTION_STRINGS="${{ secrets.CONNECTION_STRINGS }}" \
                -e LOGGING="${{ secrets.LOGGING }}" \
                -e ALLOWED_HOSTS="${{ secrets.ALLOWED_HOSTS }}" \
                -e AUTH="${{ secrets.AUTH }}" \
                -e SMTP="${{ secrets.SMTP }}" \
                -e REDIS="${{ secrets.REDIS }}" \
                -e AUTHENTICATION="${{ secrets.AUTHENTICATION }}" \
                -e API_BASE_ADDRESS="${{ secrets.API_BASE_ADDRESS }}" \
                -e SHIKIMORI="${{ secrets.SHIKIMORI }}" \
                lanctole/roulette:${{ github.sha }}
